@model IEnumerable<DatabaseCORE.Models.Cart>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Productname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Quantity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductPrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TotalAmount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Productname)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Quantity)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductId)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProductPrice)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TotalAmount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.User.Cityname)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
}	
    </tbody>
	<tbody>
		<tr>
			<th>
				Total amount to pay: @ViewBag.amount
			</th>
			<td>
				@*<a asp-action="Order" asp-route-id="@ViewBag.amount">Order now</a>*@
				@Html.ActionLink("Order now", "Index", "Cart")
			</td>
		</tr>
	</tbody>
</table>
